<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
        <link rel='stylesheet' type='text/css'
              href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.63.0/maps/maps.css'>
        <style>
            #map {
                width: 100vw;
                height: 100vh;
            }
        </style>
       <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.63.0/maps/maps-web.min.js'></script>
</head>
<body>
<h1>Welcome to Ghost Net Homepage</h1>
<form th:action="@{/nets/net-form}" method="get">
    <button type="submit">Add Net</button>
</form>
<form th:action="@{/nets/net-list}" method="get">
    <button type="submit">Show Net List</button>
</form>
<form th:action="@{/users/login}" method="get">
    <button type="submit">Login</button>
</form>

<div id='map' class='map'></div>
<script th:inline="javascript">
    var map = tt.map({
        key: [[${apikey}]],
        container: 'map',
        style: 'tomtom://vector/1/basic-main',
        zoom: 2
    });
    map.addControl(new tt.FullscreenControl());
    map.addControl(new tt.NavigationControl());


    var nets = /*[[${nets}]]*/ [];
    nets.forEach(net => {
        var latitude = net.latitude;
        var longitude = net.longitude;
        if (net.status !== /*[[${T(com.ipwa02.ghost_nets.Statuses).RECOVERED}]]*/ "RECOVERD") {
        var marker = new tt.Marker().setLngLat([longitude, latitude]).addTo(map);
            var popup = new tt.Popup({offset: 25}).setText(`Net Size: ${net.estimatedSize} Net Status: ${net.status}`);
            marker.setPopup(popup).togglePopup();
        }
    });

</script>
</body>
</html>