<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Net List</title>
</head>
<body>
<h1>Net List</h1>
<table>
    <thead>
    <tr>
        <th>status</th>
        <th>estimatedSize</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>
    </thead>
    <tbody>
    <tbody>
    <tr th:each="net : ${nets}">
        <div th:if="${net.status} != ${T(com.ipwa02.ghost_nets.Statuses).RECOVERED}">
        <td th:text="${net.status}"></td>
        <td th:text="${net.estimatedSize}"></td>
        <td th:text="${net.latitude}"></td>
        <td th:text="${net.longitude}"></td>
        <div th:if="${loggedIn}">
                <form th:action="@{/nets/edit/{id}(id=${net.id})}" method="get">
                    <td>    <button type="submit">Update this Entry</button> </td>
                </form>
            <div th:if="!${net.bergerId}">
                <form th:action="@{/nets/net-rescue/{id}(id=${net.id})}" method="get">
                    <td>   <button type="submit">I sign up for the net rescue</button></td>
                </form>
            </div>
            <div th:if="${net.bergerId} == ${user.getId()}">
                <form th:action="@{/nets/net-recovered/{id}(id=${net.id})}" method="get">
                    <td>   <button type="submit">Net is rescued</button></td>
                </form>
                <div th:if="${net.status} != ${T(com.ipwa02.ghost_nets.Statuses).LOST}">
                <form th:action="@{/nets/net-lost/{id}(id=${net.id})}" method="get">
                    <td>   <button type="submit">Net is lost</button></td>
                </form>
                </div>
            </div>
            <div th:if="${net.bergerId} != ${user.getId()} ">
                <div th:if="${net.bergerId}">
                    <td>   Somebody signed already up for the net rescue </td>
                </div>
            </div>
        </div>
        </div>
    </tr>
    </tbody>
</table>
<form th:action="@{/nets/net-form}" method="get">
    <button type="submit">Add new Net</button>
</form>
<form th:action="@{/}" method="get">
    <button type="submit">Home</button>
</form>
</body>
</html>