<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add Net</title>
</head>
<body>
<h1>Add Ghost Net</h1>
<form th:action="@{/nets/add-net}" th:object="${net}" method="post">
    <label for="status">Status:    </label>
    <select id="status" th:field="*{status}">
        <option th:each="statusOpt : ${T(com.ipwa02.ghost_nets.Statuses).values()}"
            th:value="${statusOpt}" th:text="${statusOpt}"></option>
    </select>
    <label for="estimatedSize">Estimated Size:</label>
    <input type="text" id="estimatedSize" th:field="*{estimatedSize}" required/>
    <label for="gpsLocation">gpsLocation:</label>
    <input type="text" id="gpsLocation" th:field="*{gpsLocation}" required/>

    <button type="submit">Save</button>
</form>
</body>
</html>

